* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

body {
  font-family: "Lato";
  background-color: #FFFFFF;
  overflow-x: hidden;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 19px;
}
.header_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 41px;
  position: relative;
}
.header .cart-container {
  position: relative;
}
.header__cart_amount::after {
  content: attr(data-count);
  color: white;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  background: #F16D7F;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section_header {
  background-color: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section_header_title {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.section_header_menu {
  display: flex;
  gap: 2px;
}
.section_header .menu_item {
  text-decoration: none;
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}
.section_header .menu_item:not(:last-child)::after {
  content: " / ";
  color: #636363;
  margin: 0 2px;
}
.section_header .menu_item:last-child {
  color: #F16D7F;
  font-weight: 700;
}

.brand_baner {
  background-color: #F1E4E6;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 363px;
}
.brand_baner img {
  max-width: 50%;
}
.brand_baner .baner_logo {
  display: flex;
  align-items: center;
}
.brand_baner .brand_text {
  padding-left: 16px;
  text-transform: uppercase;
}
.brand_baner .brand_text .line1 {
  color: #222;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.brand_baner .brand_text .line2 {
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.brand_baner .brand_text .line2 strong {
  color: #F16D7F;
}

.offers {
  padding-top: 65px;
  padding-bottom: 96px;
  display: grid;
  grid-template-columns: repeat(3, calc(33.33% - 20px));
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}

.offer {
  position: relative;
  padding: 105px 0;
  text-align: center;
  text-transform: uppercase;
}
.offer .line1 {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
.offer .line2 {
  color: #F16D7F;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.offer.big {
  grid-column: 1/-1;
  padding: 65px 0;
}
.offer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.offer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 22, 22, 0.7);
  z-index: -1;
}
.offer .line1,
.offer .line2 {
  z-index: 1;
}

.featured_items {
  text-align: center;
}
.featured_items .title {
  color: #222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.featured_items .subtitle {
  color: #9F9F9F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 6px;
  margin-bottom: 48px;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-auto-flow: dense;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
  display: grid;
}

.item {
  background-color: #F3EDED;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.item img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.item .description {
  background-color: #F8F8F8;
  padding: 24px 16px;
  text-align: left;
}
.item .description h1 {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  margin: 0 0 8px 0;
}
.item .description p {
  color: #5D5D5D;
  font-size: 14px;
  font-weight: 300;
  margin: 16px 0;
}
.item .description .price {
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 420px;
  opacity: 0;
  background: rgba(33, 22, 22, 0.7);
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.hover:hover {
  opacity: 1;
}
.hover_button {
  width: 139px;
  height: 44px;
  border: 1px solid #fff;
  background: none;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}
.hover_button img {
  padding-right: 11px;
  width: 26px;
  height: 23px;
}

.focus {
  background-color: #F7E4E2;
}

.browse_button {
  border: none;
  margin-top: 48px;
  margin-bottom: 48px;
  width: 212px;
  height: 48px;
  border: 1px solid #F16D7F;
  background: none;
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  box-shadow: none;
  transition: all 0.5s;
}
.browse_button:hover {
  background-color: #F16D7F;
  color: white;
}
.browse_button:hover svg {
  fill: white !important;
}

.slider {
  background: #F7F7F7;
  height: 777px;
  border: 1px solid #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .swiper {
  width: 100%;
  height: auto;
}
.slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .swiper-slide img {
  max-height: 100%;
  width: auto;
  max-width: 100%;
  align-self: center;
}
.slider .swiper-button-prev,
.slider .swiper-button-next {
  width: 47px;
  height: 47px;
  background-color: rgba(200, 200, 200, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease;
}
.slider .swiper-button-prev::after,
.slider .swiper-button-next::after {
  font-size: 20px;
  color: #F16D7F;
  font-weight: bold;
}
.slider .swiper-button-prev.swiper-button-disabled,
.slider .swiper-button-next.swiper-button-disabled {
  opacity: 1;
}
.slider .swiper-button-prev.swiper-button-disabled::after,
.slider .swiper-button-next.swiper-button-disabled::after {
  color: #222;
}
.slider .swiper-button-next {
  right: 0px !important;
}
.slider .swiper-button-prev {
  left: 0px !important;
}

.new_arrivals_text {
  position: absolute;
  width: 1140px;
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}
.new_arrivals_text .text_block {
  position: relative;
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  box-shadow: none;
  margin: -60px auto 0px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new_arrivals_text .text_block .options {
  display: flex;
  justify-content: center;
  gap: 23px;
}
.new_arrivals_text .text_block .options details {
  position: relative;
  text-transform: uppercase;
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.new_arrivals_text .text_block .options summary {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  position: relative;
}
.new_arrivals_text .text_block .options summary::after {
  content: "";
  display: inline-block;
  width: 11px;
  height: 6px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='6' viewBox='0 0 11 6' fill='none'%3E%3Cpath d='M5.00214 5.64846C4.83521 5.64879 4.67343 5.59016 4.54488 5.48275L0.258102 1.88021C0.112196 1.75791 0.0204417 1.58217 0.00302325 1.39165C-0.0143952 1.20112 0.0439493 1.01143 0.165221 0.864289C0.286493 0.717149 0.460759 0.624619 0.649682 0.607053C0.838605 0.589487 1.02671 0.648325 1.17262 0.770623L5.00214 3.9985L8.83167 0.885905C8.90475 0.826055 8.98884 0.781361 9.0791 0.754391C9.16937 0.727421 9.26403 0.718707 9.35764 0.72875C9.45126 0.738794 9.54198 0.767396 9.6246 0.812913C9.70722 0.85843 9.7801 0.919965 9.83906 0.993981C9.90449 1.06806 9.95405 1.15498 9.98462 1.24927C10.0152 1.34357 10.0261 1.44321 10.0167 1.54197C10.0073 1.64073 9.97784 1.73646 9.93005 1.82318C9.88227 1.9099 9.81724 1.98573 9.73904 2.04592L5.45225 5.52598C5.32002 5.61641 5.16154 5.65954 5.00214 5.64846V5.64846Z' fill='%236F6E6E'/%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
  margin-left: 9px;
  transition: transform 0.3s;
}
.new_arrivals_text .text_block .options summary::marker,
.new_arrivals_text .text_block .options summary::-webkit-details-marker {
  display: none;
}
.new_arrivals_text .text_block .options details[open] summary::after {
  transform: rotate(180deg);
}
.new_arrivals_text .text_block .options .dropdown-menu {
  position: absolute;
  margin-top: 5px;
  top: 100%;
  left: 0;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  width: 150px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.new_arrivals_text .text_block .options .dropdown-menu label {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}
.new_arrivals_text .text_block .dropdown {
  position: relative;
  display: inline-block;
}
.new_arrivals_text .text_block .dropdown-toggle {
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  background: transparent;
}
.new_arrivals_text .text_block .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 150px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.new_arrivals_text .text_block .hr_line {
  fill: #F16D7F;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 641px;
}
.new_arrivals_text .text_block .collection {
  color: #F16D7F;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
}
.new_arrivals_text .text_block .product-name {
  color: #636363;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 48px;
}
.new_arrivals_text .text_block .description {
  color: #636363;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 32px;
  max-width: 555px;
}
.new_arrivals_text .text_block .price {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.new_arrivals_text .text_block .devider {
  padding-top: 65px;
  padding-bottom: 65px;
  width: 642px;
  height: 1px;
}
.new_arrivals_text .text_block .devider rect {
  fill: #EAEAEA !important;
}
.new_arrivals_text .text_block .add_to_cart_button {
  display: flex;
  justify-content: center;
  gap: 23px;
  align-items: center;
  margin-bottom: 0px;
}
.new_arrivals_text .text_block .add_to_cart_button svg {
  fill: #F16D7F;
  transition: fill 0.3s;
}
.new_arrivals_text .text_block .add_to_cart_button:hover svg {
  fill: white !important;
}

.arrivals_items {
  padding-top: 665px;
  padding-bottom: 128px;
}

.products {
  padding-bottom: 97px;
}
.products .sorting {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 320px;
  padding-top: 51px;
  padding-bottom: 64px;
}
.products .sorting .sorting__filter-block .category-list {
  position: absolute;
  top: -13px;
  left: -16px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  width: 360px;
  padding: 46px 17px 17px 17px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 500;
  display: flex;
  flex-direction: column;
}
.products .sorting .sorting__filter-block .category-list summary {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  color: #222;
  border-bottom: 1px solid #EAEAEA;
  transition: color 0.3s;
  color: #636363;
}
.products .sorting .sorting__filter-block .category-list summary::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 37px;
  background-color: #EF5B70;
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="5" height="37" viewBox="0 0 5 37" fill="none"><path d="M5 0H0V37H5V0Z" fill="%23EF5B70"/></svg>');
          mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="5" height="37" viewBox="0 0 5 37" fill="none"><path d="M5 0H0V37H5V0Z" fill="%23EF5B70"/></svg>');
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  margin-right: 11px;
}
.products .sorting .sorting__filter-block .category-list details[open] summary {
  color: #F16D7F;
}
.products .sorting .sorting__filter-block .category-list .categoly-list__options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.products .sorting .sorting__filter-block .category-list label {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #636363;
}
.products .sorting details {
  position: relative;
  display: block;
}
.products .sorting summary {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 11px;
  cursor: pointer;
  position: relative;
}
.products .sorting summary span {
  color: #222;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  line-height: normal;
  transition: color 0.3s;
}
.products .sorting summary svg {
  fill: #222;
  transition: fill 0.3s;
}
.products .sorting summary::marker,
.products .sorting summary::-webkit-details-marker {
  display: none;
}
.products .sorting details[open] summary span {
  color: #F16D7F;
  z-index: 1000;
}
.products .sorting details[open] summary svg {
  fill: #F16D7F;
  z-index: 1000;
}
.products .sorting .dropdown {
  position: relative;
  display: inline-block;
}
.products .sorting .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 10;
}
.products .sorting__options {
  display: flex;
  justify-content: center;
  gap: 23px;
}
.products .sorting__options details {
  position: relative;
  overflow: visible;
  text-transform: uppercase;
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.products .sorting__options summary {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  position: relative;
}
.products .sorting__options summary::after {
  content: "";
  display: inline-block;
  width: 11px;
  height: 6px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='6' viewBox='0 0 11 6' fill='none'%3E%3Cpath d='M5.00214 5.64846C4.83521 5.64879 4.67343 5.59016 4.54488 5.48275L0.258102 1.88021C0.112196 1.75791 0.0204417 1.58217 0.00302325 1.39165C-0.0143952 1.20112 0.0439493 1.01143 0.165221 0.864289C0.286493 0.717149 0.460759 0.624619 0.649682 0.607053C0.838605 0.589487 1.02671 0.648325 1.17262 0.770623L5.00214 3.9985L8.83167 0.885905C8.90475 0.826055 8.98884 0.781361 9.0791 0.754391C9.16937 0.727421 9.26403 0.718707 9.35764 0.72875C9.45126 0.738794 9.54198 0.767396 9.6246 0.812913C9.70722 0.85843 9.7801 0.919965 9.83906 0.993981C9.90449 1.06806 9.95405 1.15498 9.98462 1.24927C10.0152 1.34357 10.0261 1.44321 10.0167 1.54197C10.0073 1.64073 9.97784 1.73646 9.93005 1.82318C9.88227 1.9099 9.81724 1.98573 9.73904 2.04592L5.45225 5.52598C5.32002 5.61641 5.16154 5.65954 5.00214 5.64846V5.64846Z' fill='%236F6E6E'/%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
  margin-left: 9px;
  transition: transform 0.3s;
}
.products .sorting__options summary::marker,
.products .sorting__options summary::-webkit-details-marker {
  display: none;
}
.products .sorting__options details[open] summary::after {
  transform: rotate(180deg);
}
.products .sorting__options .dropdown-menu {
  position: absolute;
  margin-top: 5px;
  top: 100%;
  left: 0;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  width: 150px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  z-index: 1000;
  overflow-x: auto;
}
.products .sorting__options .dropdown-menu label {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.pagination {
  margin: 48px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border: 1px solid #EAEAEA;
  border-radius: 2px;
  max-width: 360px;
}
.pagination a,
.pagination span {
  text-decoration: none;
  color: #C4C4C4;
  padding: 8px 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.pagination a {
  transition: color 0.3s;
  transition: border 0.3s;
}
.pagination a:hover {
  color: #222;
  border: 1px solid #EAEAEA;
}
.pagination .active {
  color: #F16D7F;
}
.pagination .prev,
.pagination .next {
  font-weight: bold;
  color: #222;
  border: none;
}
.pagination span {
  border: none;
}

.advantages {
  background-color: #222;
  padding-top: 103px;
  padding-bottom: 104px;
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: 30px;
}

.advantage,
.citation {
  width: 360px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.advantage img,
.citation img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.advantage h1 {
  color: #FBFBFB;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 26px;
  margin-bottom: 16px;
}
.advantage p {
  color: #FBFBFB;
  text-align: center;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subscribe {
  position: relative;
  padding-top: 97px;
  padding-bottom: 126px;
  background: url("../assets/img/subscribe/sub_background.png") lightgray 0px -169px/100% 246.875% no-repeat;
}
.subscribe::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}
.subscribe_content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.citation p {
  color: #222;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
}

.subscribe__newsletters_title {
  color: #222;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40.128px;
}

.subscribe__newsletters_subtitle {
  color: #222;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 40.128px;
}

.subscribe-container {
  margin-top: 32px;
  display: flex;
  max-width: 356px;
  height: 49px;
  border-radius: 25px;
  overflow: hidden;
}

.subscribe-container input {
  flex: 1;
  border: none;
  padding: 6px 22px;
  outline: none;
  background-color: #E1E1E1;
  color: #333;
  color: #222224;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subscribe-container button {
  border: none;
  padding: 6px 22px;
  background-color: #F16D7F;
  color: white;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: background-color, color 0.3s;
}

.subscribe-container button:hover {
  background-color: white;
  color: #F16D7F;
}

footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .copyright {
  color: #FBFBFB;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
footer .social_buttons {
  display: flex;
  gap: 7px;
}
footer .social_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: white;
  transition: background-color 0.5s, fill 0.5s;
}
footer .social_btn svg {
  width: 16px;
  height: 16px;
  fill: #222 !important;
  transition: fill 0.5s;
}
footer .social_btn:hover {
  background-color: #F16D7F;
}
footer .social_btn:hover svg {
  fill: white !important;
}

.added-to-cart {
  display: flex;
  justify-content: flex-start;
  padding-top: 96px;
  padding-bottom: 128px;
  gap: 128px;
}
.added-to-cart__container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.added-to-cart__items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.added-to-cart__item {
  display: flex;
  justify-content: flex-start;
  width: 652px;
  height: 306px;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  background-color: #FFFFFF;
  position: relative;
}
.added-to-cart__item img {
  height: 100%;
  width: auto;
}
.added-to-cart__item .close-btn {
  position: absolute;
  top: 28px;
  right: 22px;
  cursor: pointer;
}
.added-to-cart__item .close-btn svg {
  fill: #636363;
  transition: fill 0.3s;
}
.added-to-cart__item .close-btn svg:hover {
  fill: #F16D7F;
}
.added-to-cart__item-info {
  width: 200px;
  padding: 22px 31px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.added-to-cart__item-info h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #222;
  margin-bottom: 42px;
}
.added-to-cart__item-info p {
  color: #636363;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 6px;
}
.added-to-cart__item-info p span {
  color: #F16D7F;
}
.added-to-cart__item-info .quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}
.added-to-cart__item-info .quantity input {
  width: 40px;
  height: 25px;
  text-align: center;
  border: 1px solid #EAEAEA;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #636363;
}
.added-to-cart__buttons {
  display: flex;
  justify-content: space-between;
}
.added-to-cart__button {
  padding: 17px 40px;
}
.added-to-cart .secondary-button {
  border: 1px solid #636363;
  background: none;
  color: #222;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  box-shadow: none;
  text-transform: uppercase;
  transition: all 0.3s;
}
.added-to-cart .secondary-button a {
  color: #222;
}
.added-to-cart .secondary-button:hover {
  border: 1px solid #F16D7F;
  background: #F16D7F;
  color: white;
}
.added-to-cart .secondary-button:hover a {
  color: white;
}
.added-to-cart__form {
  display: flex;
  flex-direction: column;
  gap: 57px;
  width: 360px;
}
.added-to-cart__address {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.added-to-cart__address h1 {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.added-to-cart__address button {
  padding: 15px 11px;
  align-self: flex-start;
}
.added-to-cart__checkout {
  background-color: #F7F7F7;
  padding: 42px;
}
.added-to-cart__checkout .sub-total {
  color: #222;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
  text-align: right;
}
.added-to-cart__checkout .sub-total::before {
  content: "Sub total";
  text-transform: uppercase;
  padding-right: 20px;
}
.added-to-cart__checkout .grand-total {
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
  padding-bottom: 21px;
  margin-bottom: 17px;
  border-bottom: 1px solid #EAEAEA;
}
.added-to-cart__checkout .grand-total::before {
  content: "Grand total";
  color: #636363;
  text-transform: uppercase;
  padding-right: 20px;
}
.added-to-cart__checkout button {
  padding: 16px;
  width: 100%;
}

.input-field {
  border: 1px solid #636363;
  padding: 15px 11px;
  text-align: left;
  color: #222;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input-field::-ms-input-placeholder {
  color: #C4C4C4;
}

.primaty-button {
  padding: 16px;
  border: 1px solid #F16D7F;
  background-color: #F16D7F;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  box-shadow: none;
  text-transform: uppercase;
  transition: background-color, color 0.3s;
}
.primaty-button svg {
  fill: white;
  transition: fill 0.3s;
}
.primaty-button path {
  fill: white;
  transition: fill 0.3s;
}
.primaty-button:hover {
  background-color: white;
  color: #F16D7F;
}
.primaty-button:hover svg path {
  fill: #F16D7F;
}
.primaty-button:hover svg {
  fill: #F16D7F;
}

.registration {
  display: flex;
  justify-content: flex-start;
  gap: 128px;
  padding-top: 64px;
  padding-bottom: 96px;
}
.registration__form {
  min-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.registration__form button {
  align-self: flex-start;
  padding-right: 29px;
  padding-left: 29px;
}
.registration__form button svg {
  margin-left: 20px;
}
.registration__personal-info {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.registration__personal-info .gender {
  margin-top: 10px;
  display: flex;
  align-content: center;
  justify-content: flex-start;
}
.registration__personal-info .gender input {
  margin-right: 5px;
}
.registration__personal-info .gender label {
  margin-right: 15px;
  color: #222;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.registration__input-label {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.registration__credentials {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.registration__credentials p {
  color: #636363;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 18px;
}
.registration__info {
  text-align: left;
}
.registration__info h1 {
  text-transform: uppercase;
  margin-bottom: 22px;
  color: #222;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.registration__info p {
  margin-bottom: 22px;
  color: #222;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.registration__info .custom-list {
  list-style: none;
  padding: 0;
}
.registration__info .custom-list li {
  margin-bottom: 16px;
  position: relative;
  padding-left: 48px;
  color: #222;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.registration__info .custom-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 20px;
  height: 16px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16" fill="none"><path d="M19.8035 0H18.0904C17.8502 0 17.6222 0.111827 17.4752 0.303176L7.3702 13.2826L2.52481 7.05754C2.45151 6.96318 2.35808 6.88688 2.25153 6.83438C2.14499 6.78187 2.0281 6.75451 1.90963 6.75437H0.196467C0.032258 6.75437 -0.0584248 6.94572 0.0420614 7.07494L6.75503 15.6981C7.06874 16.1006 7.67166 16.1006 7.98782 15.6981L19.9579 0.318087C20.0584 0.191349 19.9677 0 19.8035 0V0Z" fill="black"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding-left: 18px;
    padding-right: 18px;
  }
  .brand_text .line1 {
    color: #222;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  .brand_text .line2 {
    color: #222;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .offers {
    padding-top: 65px;
    padding-bottom: 110px;
    display: grid;
    grid-template-columns: repeat(3, calc(33.33% - 12.67px));
    -moz-column-gap: 19px;
         column-gap: 19px;
    row-gap: 19px;
  }
  .offer {
    padding-top: 59px;
    padding-bottom: 59px;
  }
  .offer .big {
    padding-top: 33px;
    padding-bottom: 33px;
  }
  .featured_items .subtitle {
    margin-top: 3px;
    margin-bottom: 72px;
  }
  .products .sorting {
    justify-content: space-between;
    gap: 0px;
  }
  .products .sorting__options details:last-child .dropdown-menu {
    left: auto;
    right: 0;
  }
  .catalog {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 8px));
    -moz-column-gap: 16px;
         column-gap: 16px;
    row-gap: 16px;
  }
  .browse_button {
    margin-top: 32px;
  }
  .advantages {
    padding-top: 48px;
    padding-bottom: 64px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 47px;
  }
  .subscribe_content {
    padding-top: 54x;
    padding-bottom: 140px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
  }
  .slider {
    height: 624px;
  }
  .new_arrivals {
    max-width: 100vw;
  }
  .new_arrivals_text {
    position: relative;
    width: 100vw;
    margin: 0px;
  }
  .new_arrivals_text .text_block {
    margin: 0;
  }
  .arrivals_items {
    padding-top: 128px;
    padding-bottom: 128px;
  }
  .added-to-cart {
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 128px;
    gap: 64px;
  }
  .added-to-cart__container {
    gap: 62px;
  }
  .added-to-cart__item {
    width: 100%;
    height: 306px;
  }
  .added-to-cart__item img {
    height: 100%;
    width: auto;
  }
  .added-to-cart__item__buttons {
    display: flex;
    justify-content: center;
    gap: 48px;
  }
  .added-to-cart__form {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }
  .added-to-cart__address {
    width: 360px;
  }
  .added-to-cart__checkout {
    background-color: #F7F7F7;
    padding: 42px;
    width: 360px;
  }
  .added-to-cart__buttons {
    display: flex;
    justify-content: center;
    gap: 48px;
  }
  .registration {
    gap: 22px;
    padding-top: 40px;
    padding-bottom: 96px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .center {
    padding-left: 8px;
    padding-right: 8px;
  }
  .section_header {
    flex-direction: column;
    height: 148px;
    gap: 32px;
    padding-top: 24px;
    padding-bottom: 46px;
    justify-content: center;
  }
  .products .sorting {
    justify-content: space-between;
    gap: 0;
    padding-top: 26px;
    padding-bottom: 41px;
  }
  .products .sorting__filter-block summary span {
    display: none;
  }
  .products .sorting__filter-block summary svg {
    width: 37.5px;
    height: 25px;
  }
  .products .sorting__options details:last-child .dropdown-menu {
    left: auto;
    right: 0;
  }
  .hide_on_mobile {
    display: none;
  }
  .brand_text .line1 {
    color: #222;
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  .brand_text .line2 {
    color: #222;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .advantages {
    background-color: #222;
    padding-top: 48px;
    padding-bottom: 81px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 47px;
  }
  .advantage {
    max-width: 342px;
  }
  .subscribe_content {
    padding-bottom: 110px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
  }
  .new_arrivals {
    max-width: 100vw;
  }
  .slider {
    height: 624px;
  }
  .new_arrivals_text {
    position: relative;
    width: 100vw;
    margin: 0px;
    overflow-x: hidden;
  }
  .new_arrivals_text .text_block {
    margin: 0;
    padding-right: 25px;
    padding-left: 25px;
    overflow-x: hidden;
  }
  .new_arrivals_text .text_block .devider {
    width: 175px;
    padding-top: 31px;
    padding-bottom: 50px;
  }
  .new_arrivals_text .text_block .options .dropdown .dropdown-toggle {
    font-size: 10px;
  }
  .new_arrivals_text .text_block .options .dropdown .dropdown-menu {
    font-size: 10px;
    width: 100px;
  }
  .new_arrivals_text .text_block .options details:last-child .dropdown-menu {
    left: auto;
    right: 0;
  }
  .arrivals_items {
    padding-top: 128px;
    padding-bottom: 128px;
  }
  .added-to-cart {
    flex-direction: column;
    padding-top: 31px;
    padding-bottom: 64px;
    gap: 48px;
  }
  .added-to-cart .secondary-button {
    font-size: 12px;
    padding: 9px;
    max-width: 50%;
  }
  .added-to-cart__container {
    gap: 32px;
  }
  .added-to-cart__item {
    width: 100%;
    height: 188px;
    box-shadow: 8px 8px 21px rgba(0, 0, 0, 0.13);
  }
  .added-to-cart__item img {
    height: 100%;
    width: auto;
  }
  .added-to-cart__item .close-btn {
    top: 17px;
    right: 12px;
  }
  .added-to-cart__item .close-btn svg {
    width: 9.883px;
    height: 11.059px;
  }
  .added-to-cart__buttons {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }
  .added-to-cart__button {
    width: calc(50% - 4px);
  }
  .added-to-cart__item-info {
    width: 143px;
    padding: 14px 17px;
  }
  .added-to-cart__item-info h1 {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .added-to-cart__item-info p {
    font-size: 14px;
  }
  .added-to-cart__item-info .quantity input {
    font-size: 10px;
    width: 24px;
    height: 15px;
  }
  .added-to-cart__form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-bottom: 96px;
    padding-top: 40px;
  }
  .added-to-cart__address {
    width: 100%;
  }
  .added-to-cart__checkout {
    width: calc(100% - 16px - 82px);
  }
  .registration {
    padding-top: 40px;
    padding-bottom: 100px;
    gap: 40px;
    flex-direction: column;
    width: 100% .registration __form;
    width-width: 100%;
  }
  .registration__info {
    width: 100%;
  }
  footer {
    padding-top: 43px;
    padding-bottom: 6px;
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }
  .offers {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=style.css.map */