$primary-color: #F16D7F;
$secondary-color: #222;
$background-color-main: #FFFFFF;
$background-color-slider: #F7F7F7;
$slider-border-color: #EAEAEA;
$background-color-baner: #F1E4E6;
$background-color-section-header: #F8F3F4;
$background-color-header: #222;
$text-color: #222;
$main-width: 1140px;
$background-overlay: rgba(33, 22, 22, 0.7);
$background-color-focused: #F8F3F4;
$text-color-secondary: #636363;
$text-inactive: #C4C4C4;
$padding-y: 8px;
$padding-x: 12px;